<div class="form-container">

  <h2>
    {{ isEditMode ? 'Edit Patient' : 'Add Patient' }}
  </h2>

  <input [(ngModel)]="patient.firstName" placeholder="First Name" />
  <input [(ngModel)]="patient.lastName" placeholder="Last Name" />
  <input [(ngModel)]="patient.dateOfBirth" type="date" />
  <input [(ngModel)]="patient.phoneNumber" placeholder="Phone" />
  <input [(ngModel)]="patient.email" placeholder="Email" />
  <input [(ngModel)]="patient.address" placeholder="Address" />

  <button (click)="save()">
    {{ isEditMode ? 'Update Patient' : 'Save Patient' }}
  </button>

</div>